<div class="container">
   <div class="row">
      <div class="col text-center">
         <img src="img/ahmad.jpg" alt="Ahmad iyasya" class="img-thumbnail rounded-circle" width="200"/>
         <h1 class="display-4">Ahmad iyasya</h1>
         <p class="lead">Lecturer | Seniman</p>
      </div>
   </div>
</div>
